
@{
    ViewData["Title"] = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron text-center m-5">
  <h1 class="display-4 text-success text-uppercase">Thanks for your vote!</h1>
  <p class="lead">Your vote will definitely increase deserving team a chance to win the title.</p>
  <hr class="my-4">
  <p>Link below will guide you to the vote counts page till this moment, votes may increase until we disable voting.</p>
  <a class="btn btn-success btn-block btn-lg" href="./AllVotes" role="button">Vote Counts Till Now</a>
</div>


