@{
    Layout = null;
}
<html>
<head>
  <title>Thank You Very Much</title>
</head>
<body style="background-color: deeppink; text-align: center">
  <div style="margin-top: 150px; color: white">
    <h1>Thank you, we appreciate your time for betterment of event!</h1>
  </div>
</body>
</html>