@{ ViewData["Title"] = "Home"; }
<div class="jumbotron text-center">
  <h1 class="text-success">Welcome To Scoring Board</h1>
  <h2><strong>Dedicated To: V-Hackathon Committee.</strong></h2>
  <p>
    <a asp-action="Index" class="btn btn-primary btn-lg" role="button">Your List Of Submissions</a>
    <a asp-action="Create" class="btn btn-primary btn-lg" role="button">Evaluate New Team</a>
  <p>
  </p>
</div>