.medal-size {
  width: 140px;
  height: 195px
}

.love-token {
  width: 110px;
  height: 110px
}

.team-border {
  border: 2px solid #101010;
  margin: 5px
}

#v-pills-tab li :hover {
  background-color: #007bff;
  color: #ffffff;
}

a.disabled {
  color: gray;
  pointer-events: none;
}
