@using Contest.Enums
@using Contest.Web.Data
@model Contest.Models.Score.TeamViewModel

@{
    ViewData["Title"] = "Add Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var themeChoices = Enum.GetNames(typeof(Theme));
}

<h4 class="text-center mt-3">Your Team Detail</h4>

<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="TeamName" class="fw-bolder"></label>*
                    <input asp-for="TeamName" class="form-control" required />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Themes" class="fw-bolder"></label>*

                    <select asp-for="Themes" class="form-control" multiple></select>
                    <span asp-validation-for="Themes" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProblemStatement" class="fw-bolder"></label>*
                    <textarea asp-for="ProblemStatement" class="form-control" rows="3" required></textarea>
                    <span asp-validation-for="ProblemStatement" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Participants" class="fw-bolder"></label>*
                    <textarea asp-for="Participants" class="form-control" rows="5" placeholder="Name, Email, Department" required></textarea>
                    <span asp-validation-for="Participants" class="text-danger"></span>
                    <div class="alert alert-info" role="alert">
                        <b>Participants input Format: </b><small>Each participant must be in new line with lead indicated as <b>(Team lead)</b> in name field.</small><br />
                        Bishnu Rawal, bishnu.rawal@cotiviti.com, R&D3 <br />
                        Sakar Shrestha (Team Lead), sakar.shrestha@cotiviti.com, Engineering <br />
                        Sanjeev Shrestha, sanjeev.shrestha@cotiviti.com, HR
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Location" class="fw-bolder"></label>*
                    <select asp-for="Location" asp-items="@ViewData["locations"] as IEnumerable<SelectListItem>" class="form-control"></select>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ITRequirements" class="fw-bolder"></label>
                    <textarea asp-for="ITRequirements" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="ITRequirements" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="OtherRequirements" class="fw-bolder"></label>
                    <textarea asp-for="OtherRequirements" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="OtherRequirements" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Avatar" class="form-label fw-bolder">Choose team avatar</label>
                    <input type="file" asp-for="Avatar" class="form-control">
                    <small>(Around 500 X 200 image size is perfect. If not sure, you can add your team avatar anytime later.)</small>
                </div>
                <div class="mb-3 d-grid">
                    <input type="submit" value="Submit Team" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="/lib/choices.js/choices.min.css" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ThemeChoices");
    }
}

