@model ErrorViewModel
@{
  ViewData["Title"] = "Error";
}

<div class="text-center pt-5">
  <h1 class="text-danger text-uppercase">Hmm.. Something went wrong!</h1>  
  <h2 class="text-danger pt-5">@Model.ErrorCode: <small>@Model.Message</small></h2>

  @if (Model.ShowRequestId)
  {
    <p>
      <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
  }
</div>