<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hackafest</title>

    <environment include="Development">
        <link href="~/css/custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/custom.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info" style="line-height:normal">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand"><i class="bi bi-house-fill"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Teams</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Teams" asp-action="Create">
                                        <i class="bi bi-plus-lg"></i> Register Team
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Teams" asp-action="Index">
                                        <i class="bi bi-grid"></i> Teams
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Teams" asp-action="Analytics">
                                        <i class="bi bi-list"></i> Teams Synopsis
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> People's Choice Award</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="PeoplesChoice" asp-action="VoteTeams">
                                    <i class="bi bi-check2"></i> Vote Your Top 5</a>
                                <a class="dropdown-item" asp-controller="PeoplesChoice" asp-action="AllVotes">
                                    <i class="bi bi-trophy"></i> Final Result</a>
                            </div>
                        </li>
                        @if (User.IsInRole(Contest.Web.Constants.Role.Admin) || User.IsInRole(Contest.Web.Constants.Role.SuperAdmin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"> Survey</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Survey" asp-action="AdminIndex">
                                        <i class="bi bi-list-check"></i> All Surveys
                                    </a>
                                    <a class="dropdown-item" asp-controller="Survey" asp-action="CreateSurveyThread">
                                        <i class="bi bi-plus-lg"></i> Create New Survey</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Team Scores</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Scores" asp-action="Create">
                                        <i class="bi bi-check-lg"></i> Evaluate Team
                                    </a>
                                    <a class="dropdown-item" asp-controller="Scores" asp-action="Index">
                                        <i class="bi bi-clock-history"></i> Evaluation History
                                    </a>
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                                        <i class="bi bi-trophy"></i> Final Result
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Scores" asp-action="About">
                                        <i class="bi bi-info"></i> About Scoring
                                    </a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(Contest.Web.Constants.Role.SuperAdmin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configuration</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Configuration" asp-action="Index">
                                        <i class="bi bi-wrench"></i> Settings
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/accountadmin/addrole">
                                        <i class="bi bi-person"></i> Add New Role
                                    </a>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/accountadmin/roles">
                                        <i class="bi bi-people"></i> All Roles
                                    </a>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/accountadmin/roleassignment">
                                        <i class="bi bi-wrench-adjustable"></i> Role Assignment
                                    </a>
                                </div>
                            </li>
                        }
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> About</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="Docs" asp-page="/about/role">
                                <i class="bi bi-info"></i> Roles and Features
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    <div class="p-2">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper.js/umd/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="~/lib/popper.js/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    </environment>@RenderSection("Scripts", required: false)
</body>
</html>
