@model Contest.Models.Score.JudgeScoreViewModel
@{
    ViewData["Title"] = "Score Submission";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Team" class="control-label font-weight-bold"></label>
                    <select asp-for="Team" class='form-control' asp-items="Model.Teams">
                        <option value="" selected>Please Select team...</option>
                    </select>
                    <span asp-validation-for="Team" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="InnovationScore" class="control-label font-weight-bold"></label>
                    <input asp-for="InnovationScore" placeholder="Add Idea and Team Score" class="form-control" />
                    <span asp-validation-for="InnovationScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsefulnessScore" class="control-label font-weight-bold"></label>
                    <input asp-for="UsefulnessScore" placeholder="Add Usefulness Score" class="form-control" />
                    <span asp-validation-for="UsefulnessScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QualityScore" class="control-label font-weight-bold"></label>
                    <input asp-for="QualityScore" placeholder="Add Implementation Score" class="form-control" />
                    <span asp-validation-for="QualityScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyValueScore" class="control-label font-weight-bold"></label>
                    <input asp-for="CompanyValueScore" placeholder="Add Experience Score" class="form-control" />
                    <span asp-validation-for="CompanyValueScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PresentationScore" class="control-label font-weight-bold"></label>
                    <input asp-for="PresentationScore" placeholder="Add Pitching Score" class="form-control" />
                    <span asp-validation-for="PresentationScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="submitscore" type="submit" value="Submit Score" class="btn btn-success w-100" />
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="font-weight-bold">Score values range from 0 to 10 and can be integer or decimal numbers (e.g. 4, 6.5, 9.5 etc.)</p>
            </div>
            <div class="alert alert-info" role="alert">
                <strong>Idea & Team Score:</strong>
                Creative/Unique/Off-the-wall idea? Team well assembled having different members in each area of expertise?
            </div>
            <div class="alert alert-info" role="alert" id="usefulnesslabel">
                <strong>Usefulness Score:</strong>
                Is it intuitive and easy to use? Has kept UX best practices in mind? Could this app scale as a real solution?
            </div>
            <div class="alert alert-info" role="alert" id="qualitylabel">
                <strong>Implementation Score:</strong>
                Team has functional prototype? Research and selection of tech stack?
            </div>
            <div class="alert alert-info" role="alert">
                <strong>Value To Company Score</strong>
                Does the app or idea add value to the company? Prospective value?
            </div>
            <div class="alert alert-info" role="alert">
                <strong>Presentation Score</strong>
                Solid, persuasive rocket pitch?
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
