@model Contest.Models.Score.JudgeScoreViewModel
@{
  ViewData["Title"] = "Edit Scores";
}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Note!</strong> Score value can be whole or real decimal numbers (e.g. 4.8, 6, 9.5 etc.)
      </div>
      <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Team" />
        <div class="form-group">
          <h4><label asp-for="Team" class="control-label"></label><span>: @Model.Team</span></h4>
        </div>
        <div class="form-group">
          <label asp-for="InnovationScore" class="control-label"></label>
          <input asp-for="InnovationScore" class="form-control" />
          <span asp-validation-for="InnovationScore" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="UsefulnessScore" class="control-label"></label>
          <input asp-for="UsefulnessScore" class="form-control" />
          <span asp-validation-for="UsefulnessScore" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="QualityScore" class="control-label"></label>
          <input asp-for="QualityScore" class="form-control" />
          <span asp-validation-for="QualityScore" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="CompanyValueScore" class="control-label"></label>
          <input asp-for="CompanyValueScore" class="form-control" />
          <span asp-validation-for="CompanyValueScore" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="PresentationScore" class="control-label"></label>
          <input asp-for="PresentationScore" class="form-control" />
          <span asp-validation-for="PresentationScore" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="submit" value="Update Score for @Model.Team" class="btn btn-outline-success" /> <a class="btn btn-outline-warning" asp-action="Index">Back to List of Evaluations</a>
        </div>
      </form>
    </div>
  </div>
</div>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
