
@{
  ViewData["Title"] = "About";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Kolpi roles for Teams Management</h1>
    <p class="lead">
      <ul>
        <li><b>Participant Role:</b> All new user registrations will have default 'Participant' role. They will have access to 'Teams' feature and are allowed to add, update and flush teams they create.</li>
        <li><b>Admin Role:</b> This is the authority with handful of people or organizers. They are allowed to create, update and flush any team.</li>
      </ul>
    </p>
  </div>
</div>