<div class="jumbotron p-4">
  <h2 class="display-4 pb-3">Weighted Team Score Calculation</h2>
  <p class="font-weight-bold">Weighted Best Idea Score = <code>InnovationScore * .5 + CompanyValueScore * .4 + PresentationScore * .1</code></p>
  <p class="font-weight-bold">Weighted Best Technical Implementation Score = <code>QualityScore * .6 + UsefulnessScore * .2 + CompanyValueScore * .1 + PresentationScore * .1</code></p>
  <p class="text-info"><b>Note: </b>The weighted average (x) is equal to the sum of the product of the weight (wi) times the data number (xi) divided by the sum of the weights</p>
</div>