<div class="jumbotron">
  <h2><strong>V-Hackathonions Assistant</strong></h2>
  <p>This tool aims to ease and automate the process of evaluating/scoring participating teams. You can create new evaluation for the team and see your score submissions history. Super admin will be able to see all collected scores and final results.</p>
  <p><a asp-action="Create" class="btn btn-primary btn-lg" role="button">Let's Go, Give Them a Score They Deserve!</a></p>
</div>